body {
  background-color: #F1F8E9;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container7 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container9 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container10 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.container11 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px; 
  background-color: #F1F8E9;
  gap: 40px;
  cursor: pointer;
}

.backHome {
  font-family: Roboto, sans-serif;
  font-size: 20px; 
  padding: 30px 70px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #06f42a;
  transition-duration: 0.4s;
}

.backHome:hover {
  background-color: #06f42a;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.start {
  font-family: Roboto, sans-serif;
  font-size: 20px; 
  padding: 30px 70px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #06f42a;
  transition-duration: 0.4s;
}

.start:hover{
  background-color: #06f42a;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.p {
  font-family: Verdana, sans-serif;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.p2 {
  font-family: Verdana, sans-serif;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.p3 {
  font-family: Verdana, sans-serif;
  font-size: 52px; 
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px; 
}

.p6 {
  font-family: Verdana, sans-serif;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
}

.p7 {
  font-family: Verdana, sans-serif;
  font-size: 52px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
}

.p8 {
  font-family: Verdana, sans-serif;
  font-size: 28px; 
  text-align: center;
  letter-spacing: 1px; 
  font-weight: 700;
  margin-top: 20px;
}
.chem {
  font-family: Roboto, sans-serif; 
  padding: 30px 70px; 
  border: 1px solid #000;
  background-color: #9B59B6;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px; 
  text-align: center;
}

.chem:hover {
  background-color: #9B59B6;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.physics {
  font-family: Roboto, sans-serif;
  padding: 30px 85px;
  border: 1px solid #000;
  background-color: #3498DB;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px; 
  text-align: center;
}

.physics:hover {
  background-color: #3498DB;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.bio {
  font-family: Roboto, sans-serif;
  padding: 30px 85px;
  border: 1px solid #000;
  background-color: #2ECC71;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px; 
  text-align: center;
}

.bio:hover {
  background-color: #2ECC71;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.G10 {
  font-family: Roboto, sans-serif;
  padding: 30px 70px; 
  border: 1px solid #000;
  background-color: #2ECC71;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px; 
  text-align: center;
}

.G11 {
  font-family: Roboto, sans-serif;
  padding: 30px 70px; 
  border: 1px solid #000;
  background-color: #F39C12;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px; 
  text-align: center;
}

.G12 {
  font-family: Roboto, sans-serif;
  padding: 30px 70px; 
  border: 1px solid #000;
  background-color: #E74C3C;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px; 
  text-align: center;
}

.diffselection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.choices {
  font-family: Roboto, sans-serif;
  text-align: left;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 19px; 
  width: 400px;
  min-height: 80px;
  transition-duration: 0.4s;
  background-color: #ffffff;
  gap: 200px;
  line-height: 1.4;
}

.choices:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.back {
  font-family: Roboto, sans-serif;
  transition-duration: 0.4s;
  text-align: center;
  font-size: 19px;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #e0e0e0;
  width: 90px;
  height: 40px;
  position: fixed;
  left: 10px;
  top: 20px;

}

.back:hover {
  background-color: #E0E0E0;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,3.6);
}

.incorrectAnswer {
  text-align: left;
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}